canvas.png {
	background-color: #fff0;
}
wavegraph {
	vertical-align: bottom;
	height: 100%;
}
grid#x.major label {
	padding: 10;
	font-size: 10;
	color: #000b;
}
grid#y.major line {
	color: #0002;
}
grid#y.major label {
	padding: -10;
	font-size: 12;
	color: #0004;
}
grid#x.major line {
	color: #0000;
}
grid#x.minor line {
	color: #0000;
}