{% extends "base.html" %}

{% block title %}Poster Colours{% endblock %}

{% block content %}
	
	<div class="padded">
	
		<h1>Poster Colours</h1>
		
		<p>The colourschemes are:</p>
		
		<ul class="colours">
			<li>
				<img src="/static/images/colours/ocean.png" /> <span>Ocean</span>
			</li>
			<li>
				<img src="/static/images/colours/blue.png" /> <span>Blue</span>
			</li>
			<li>
				<img src="/static/images/colours/desert.png" /> <span>Desert</span>
			</li>
			<li>
				<img src="/static/images/colours/rainbow.png" /> <span>Rainbow</span>
			</li>
			<li>
				<img src="/static/images/colours/sunset.png" /> <span>Sunset</span>
			</li>
			<li>
				<img src="/static/images/colours/green.png" /> <span>Green</span>
			</li>
		</ul>
		
	</div>
	
{% endblock %}