{% extends "base.html" %}

{% block title %}About Artist Histories{% endblock %}

{% block content %}
	
	<div class="padded">
	
		<h1>About Artist Histories</h1>
		
		<p>Last.fm lets you see your top artists each week, but doesn't let you get a good overview of your listening history of each artist. Thus, the new LastGraph feature is artist histories.</p>
		
		<p><img src="/static/images/artist_graph.png" class="front" /></p>
		
		<p>You can view a history graph for each artist you have ever listened to (yes, even if you only ever listened once), as well as download aggregated history data for each artist in a variety of formats.</p>
		
		<p>It's a nice way to see where your allegiences have been in the past, or when you discovered a certain artist; this kind of information is often visible on the <a href="/about/posters/">posters</a>, but not as clearly, and without a scale.</p>
		
	</div>
	
{% endblock %}