{% extends "base.html" %}

{% block content %}
	
	<div class="padded wide">
		
		<h1>Welcome to LastGraph</h1>
		
		<p>LastGraph lets you explore your <a href="http://www.last.fm">last.fm</a> listening history. Stick your username in the box above (or someone else's, if you feel like snooping), and hit enter.</p>
		<!--<div class="notice"><b>Last.fm seems to be slightly broken, and is claiming nobody exists. It should hopefully recover soon.</b></div>-->
		
		<h2>Recent Users</h2>
		
		<p>Some of the last profiles visited were {% for user in recent %}{% if forloop.last %} and {% endif %}<a href="{{ user.get_absolute_url }}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
		
		<h2>Some Features</h2>
		
		<div class="feature">
			<a href="/about/artists/">
				<img src="/static/images/artist_graph.png" class="front" />
				<p>See play histories for each of your artists &raquo;</p>
			</a>
		</div>
		
		<div class="feature">
			<a href="/about/posters/">
				<img src="/static/images/wavegraph.png" class="front" />
				<p>Create nice posters of your listening history &raquo;</p>
			</a>
		</div>
		
	</div>
	
{% endblock %}
