<p class='padded'>
	This is a list of all the posters you've ordered to be generated recently. If you don't know much about LastGraph posters, you may want to read the <a href='#'>short summary</a>.
</p>
<form id='newposterform'>
	
	<label for="id_start">Start:</label>
	<input class="date_input" id="id_start" name="start" />
	
	<label for="id_end">End:</label>
	<input class="date_input" id="id_end" name="end" />
	
	<br />
	
	<label for="id_style">Style:</label>
	<select name="style" id="id_style">
		<option value="ocean">Ocean</option>
	</select>
	
	<label for="id_detail">Detail:</label>
	<select name="detail" id="id_detail">
		<option value="1">Super</option>
		<option value="2">High</option>
		<option value="5" selected="selected">Medium</option>
		<option value="10">Low</option>
		<option value="15">Terrible</option>
	</select>
	
</form>